---
layout: layouts/base.njk
title: Audio
---

<div class="media-row">
  <div class="media-image">
    {% image "src/images/phase-temple-440-album-art.png", "phase temple 440", "media-image" %}
  </div>
  <div class="media-content">
    <h1>Phase Temple 440</h2>
    <div class="footer-links">
    <a target="_blank" rel="noopener" href="https://templeofexla.bandcamp.com/album/phase-temple-440">Phase Temple 440 @ {% include "icons/bandcamp.svg"%}<span class="sr-only">bandcamp</span></a>
    </div>

    <p>An exploration of binaural beats and isochronic tones.</p>
    <p>Find the extended writeup in the blog post here: <a href="/blog/posts/2025/phase-temple-440/">phase-temple-440</a>
  </div>
</div>
